*{
	margin: 0px;
	padding: 0px;
}
body{
background: #00667f;
}
header{
	height: 150px;
	display: flex;
	justify-content: center;
}
header img{
	width: 110px;
	height: 110px;
	margin-top: 20px;
}
main{
	height: auto;
	
	background: #fff;
	display: block;
	margin: 0 auto 35px;
	width: 560px;
	border-radius: 43px 43px 43px 43px;
}
main h2{
	text-align: center;
	height: 32px;
	margin-top: 20px;
	margin-left: auto;
	width: auto;
}
main #signupbox{
	margin-top: 50px;
}
main #signupalert{
	display: none;
}
button{
	min-width: 110px;
	margin-left: -15px;
}
.container{
	height: 200px;
}

li{	
	list-style-type: none;
	}
#loginbox{
	margin-top: 50px;
}
#login-alert{
	display: none;
}


