main .container{
	background: #eeeeee;
	border-left: solid;
	border-right: solid;
	border-color: #00667f;
}
main h2{
	color: #00667f;
}

main section{
	text-align: center;
	margin-bottom: 100px;
}
 main li{
	list-style-type: none;
}
main li button{
	background:#00667f;
	color: #fff;
}
footer{
	margin-top: -100px;
}
